# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# VS Code settings
.vscode/
.code-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output folders
output/
dist/
build/

# Environment files
.env
*.env

# System files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
.env/
*.egg-info/
